#Latitude{-webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
  pointer-events: none;
  opacity: 0.5;
}

#Longitude{
	-webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
  pointer-events: none;
  opacity: 0.5;       /* Likely future */
}

/*label {
    display: inline-block;
    width: 100px;
}*/

label, textarea {
    vertical-align: middle;
}

/*input {
    text-indent: 5px;
}

.form-group {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}*/

