#Latitude{-webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
  pointer-events: none;
  opacity: 0.5;
}

#Longitude{
	-webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
  pointer-events: none;
  opacity: 0.5;       /* Likely future */
}

label {
    display: inline-block;
    float: left;
    width: 140px;
    vertical-align: middle;
}

textarea {
    vertical-align: middle;
}

.form-group {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/*<!-- Animated Loading Icon -->*/
.glyphicon-refresh-animate {
      -animation: spin .7s infinite linear;
      -webkit-animation: spin2 .7s infinite linear;
}
@-webkit-keyframes spin2 {
      from { -webkit-transform: rotate(0deg);}
      to { -webkit-transform: rotate(360deg);}
}
@keyframes spin {
      from { transform: scale(1) rotate(0deg);}
      to { transform: scale(1) rotate(360deg);}
}

